{% macro default() %}
  <ul class="overview">
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
    <li class="overview__item"><img src="//placehold.it/250x300"></li>
  </ul>
{% endmacro %}
