@media screen {

  .overview {

    overflow-x: auto;
    overflow-y: hidden;

    margin: 0;
    padding: 5px 10px 5px 5px;

    list-style: none;

    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 100%;
    //touch-action: pan-x;
    text-align: center;
  }

  .overview__item {
    position: relative;

    display: inline-block;

    padding: 5px;
    margin: auto;

    -webkit-scroll-snap-coordinate: 100% 100%;
    scroll-snap-coordinate: 100% 100%;
  }

}
