{% macro default(entries) %}
  {% import '../card/card.twig' as card %}
  <ul class="overview">
    {% for entry in entries %}
      <li class="overview__item">
        {{ card.default(entry) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
