.avatar {
  display: inline-block;

  border: 1px solid var(--grayLight);
  border-radius: 50em;
  line-height: 0;
}

.avatar__image {
  border: 2px solid var(--lightDefault);
  border-radius: 50em;
}
