@media screen {
  .brand {
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .brand:focus,
  .brand:hover {
    outline: none;
  }

  .brand:focus .brand__image,
  .brand:hover .brand__image {
    fill: var(--brandPrimaryDark);
  }

  .brand__image {
    display: inline-block;

    width: 65px;
    height: 40px;

    fill: var(--brandPrimary);
  }

  .brand__slogan {

    color: var(--grayLight);
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px 0 0 10px;
    display: none;
  }

  .brand:focus .brand__slogan,
  .brand:hover .brand__slogan {
    color: var(--grayDefault);
  }

}

@media print {
  .brand__image {
    display: none;
  }
}

@media screen and (--large-viewport) {
  .brand__slogan {
    display: inline-block;
  }
}
