{% macro brand() %}
<a class="brand" href="#">
  <h1 class="brand__title">Floidtv</h1>
  <svg class="brand__image" viewBox="0 0 648 181">
    <use xlink:href="/components/brand/floid.svg#brand"></use>
  </svg>
</a>
{% endmacro %}
