@media screen {

  .brand:focus,
  .brand:hover {
    opacity: 0.5;
  }

  .brand__image {
    display: inline-block;
    width: auto;
    max-width: 135px;
    fill: #F39D00;
    padding: 10px;
  }

  .brand__title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

}

@media print {

  .brand__image {
    display: none;
  }

}
