@media screen {
  .brand {
    display: block;

    padding: 0 10px;
  }

  .brand:focus,
  .brand:hover {
    outline: none;
  }

  .brand:focus .brand__image,
  .brand:hover .brand__image {
    fill: var(--brandPrimaryDark);
  }

  .brand__image {
    display: inline-block;

    width: 65px;
    height: 40px;

    fill: var(--brandPrimary);
  }
}

@media print {
  .brand__image {
    display: none;
  }
}
