{% macro default(menu) %}
  {% import '../brand/brand.twig' as brand %}
  {% import '../navigation/navigation.twig' as navigation %}
  <div class="masthead" role="banner">
    <div class="masthead__brand">
      {{ brand.logo() }}
    </div>
    {% if menu %}
      <nav class="masthead__navigation" role="navigation">
        {{ navigation.priamry(menu) }}
      </nav>
    {% endif %}
  </div>
{% endmacro %}
