@media screen {

  .masthead {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    justify-content: space-between;
    align-items: center;
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
  }

  .masthead__brand {
    padding: 10px 20px;
  }

  .masthead__navigation {
    text-align: right;

    flex-wrap: wrap;
    flex-grow: 1;
  }

}
