@media screen {

  .masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .masthead__brand {
    padding: 10px 20px;
  }

  .masthead__navigation {
    text-align: right;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
  }

}
