{% macro default() %}
  <div class="stage">
    <div class="stage__item">
      <video class="stage__video" src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/2039/7/185199582/610971590.mp4?token=5883cea1_0xd777d6ee71ab93ea877252c65cf4314748bda0ee" controls="true"
             poster="//placehold.it/1297x730"></video>
    </div>
  </div>
{% endmacro %}
