{% macro default() %}
  <div class="stage">
    <div class="stage__item">
      <video class="stage__video" src="/placeholder/placeholdercat.mp4" controls="true"
             poster="//placehold.it/1297x730"></video>
    </div>
  </div>
{% endmacro %}
