<div class="stage">
  <img class="stage_image" src="http://treehouse-codepen.s3.amazonaws.com/snap-points/1.jpg" alt="">
  <img class="stage_image" src="http://treehouse-codepen.s3.amazonaws.com/snap-points/2.jpg" alt="">
  <img class="stage_image" src="http://treehouse-codepen.s3.amazonaws.com/snap-points/3.jpg" alt="">
  <img class="stage_image" src="http://treehouse-codepen.s3.amazonaws.com/snap-points/4.jpg" alt="">
</div>
