@media screen {

  .stage {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: auto;
    font-size: 0;
    width: 100%;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(350px);
  }

  .stage_image {
    width: 560px;
    /* height: 315px; */
  }

}
