{% macro default() %}
  <div class="stage">
    <div class="stage__item">
      <video class="stage__video" controls poster="//placehold.it/1297x730">
        <source src="/placeholder/placeholder.mp4" type="video/mp4">
      </video>
    </div>
  </div>
{% endmacro %}
