{% macro article(post, title) %}
  {% import '../content/content.twig' as content %}
  {% import '../comment/comment.twig' as comment %}

  {{ post.id }}


  <article class="page__article">
    <h2 class="visible visible--sr">{{ title|default("Beitrag") }}</h2>
    <section class="page__content">
      {{ content.default(post) }}
    </section>
    {% if post.comment_status == 'open' %}
      <section class="page__comments">
        {{ comment.default(post.get_comments()) }}
      </section>
    {% endif %}
  </article>
{% endmacro %}
