.tabbar {
  margin: auto auto 20px auto;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 4rem;
}

.tabbar__head {
  display: none;
}

.tabbar__tab {
  display: flex;
  flex-grow: 1;

  min-height: 10rem;
  padding: 10px;

  background-color: #2a2a2a;
  color: var(--grayLight);

  text-align: center;
  vertical-align: middle;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  justify-content: center;
  align-items: center;

}

.tabbar__tab:hover,
.tabbar__tab:active {
  background-color: var(--grayHighlight);
  color: var(--grayLight);
}

.tabbar__tab__active {
  background-color: #eaeaea;
  color: var(--grayDark);
}

.tabbar__tab__active:hover {
  background-color: #eaeaea;
  color: var(--grayDark);
}

.tabbar__content {
  max-width: 100%;

  background-color: #EAEAEA;

  text-align: center;
  vertical-align: middle;
}

.tabbar__item {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #2a2a2a;
}

.tabbar__wysiwyg {
  padding: 2rem;
}

.tabbar h1, .tabbar h2, .tabbar h3 {
  display: inline;
}

.tabbar ul {
  list-style: none;
}

@media screen and (--large-viewport) {

  .tabbar__head {

    display: flex;
    flex-shrink: 1;

    overflow-x: auto;
    overflow-y: hidden;

    margin: 0;
    padding: 0;

    list-style: none;

    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 100%;
    touch-action: pan-x;
    text-align: center;

  }

  .tabbar__item {
    min-height: 350px;
    border-bottom: none;
  }

  .tabbar__item--hidden {
    display: none;
  }

  .tabbar__wysiwyg {
    padding: 4rem;
    display: block;
    column-count: 3;
    text-align: left;
  }
}
