.tabbar {

  //position
  top: 1rem;
  //bottom: 3rem;
  margin: auto;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //justify-content: center;

  //dimension
  height: 60rem;
  padding: 4rem;
}

.tabbar__head {

  //dimension
  height: 10rem;

  //flexbox
  display: flex;
}

.tabbar__tab {

  //flexbox
  flex: 1;

  //style
  background-color: #2a2a2a;

  //txt align
  text-align: center;
  vertical-align: middle;
  line-height: 10rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.tabbar__tab__active {

  //flexbox
  flex: 1;

  //style
  background-color: #eaeaea;

  //txt align
  text-align: center;
  vertical-align: middle;
  line-height: 10rem;

}

.tabbar__item--hidden {
  display: none;
}

.tabbar__content {

  //dimension
  height: 40rem;

  //style
  background-color: #EAEAEA;

  //txt align
  text-align: center;
  vertical-align: middle;
  line-height: 40rem;
}

h1, h2, h3 {
  display: inline;
}

ul {
  list-style: none;
}
