{% macro default() %}

  <div class="tabbar">

    <div class="tabbar__head">

      <a class="tabbar__tab" href="#!">
        <h1>Fancy</h1>
      </a>

      <a class="tabbar__tab" href="#!">
        <h1>Color</h1>
      </a>

      <a class="tabbar__tab" href="#!">
        <h1>Sheme</h1>
      </a>

    </div>

    <div class="tabbar__content">
      <h1>Content</h1>
    </div>

  </div>

{% endmacro %}
