{% macro default() %}

  <div class="tabbar">

    <div class="tabbar__head">

      <a class="tabbar__tab" id="tab__active" data-selector="tabbar/tab" data-id="1" href="#!">
        <h1>Unsere Sendungen</h1>
      </a>

      <a class="tabbar__tab" id="tab2" data-selector="tabbar/tab" data-id="2" href="#!">
        <h1>Mach mit</h1>
      </a>

      <a class="tabbar__tab" id="tab3" data-selector="tabbar/tab" data-id="3" href="#!">
        <h1>Triff uns</h1>
      </a>

    </div>

    <div class="tabbar__content">

      <span class="tabbar__item" data-selector="tabbar/item" data-id="1">1</span>
      <span class="tabbar__item tabbar__item--hidden" data-selector="tabbar/item" data-id="2" >2</span>
      <span class="tabbar__item tabbar__item--hidden" data-selector="tabbar/item" data-id="3" >3</span>

    </div>

  </div>

{% endmacro %}

<!--
<div class="tabbar">
  <div class="tabbar__head">
    <a class="tabbar__tab" data-selector="tabbar/tab" data-id="1" href="/page/1">1</a>
    <a class="tabbar__tab" data-selector="tabbar/tab" data-id="2" href="/page/2">2</a>
    <a class="tabbar__tab" data-selector="tabbar/tab" data-id="3" href="/page/3">3</a>
  </div>
  <ul class="tabbar__body">
    <li class="tabbar__item" data-selector="tabbar/item" data-id="1">1</li>
    <li class="tabbar__item tabbar__item--hidden" data-selector="tabbar/item" data-id="2" >2</li>
    <li class="tabbar__item tabbar__item--hidden" data-selector="tabbar/item" data-id="3" >3</li>
  </ul>
</div>
-->
