{% macro priamry(config) %}
  {% import '../link/link.twig' as link %}
  <nav class="navigation">
    <ul class="navigation__list">
      {% for entry in config.entries %}
        <li class="navigation__item">
          {{ link.default( entry ) }}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
