{% macro default() %}
  <button class="button button--icon"><i class="fa fa-search" aria-hidden="true"></i></button>
{% endmacro %}

{% macro cta() %}
  <div class="input">
    <div class="input__prepend"><button class="button button--icon"><i class="fa fa-search" aria-hidden="true"></i></button></div>
    <div class="input__body"><input></div>
    <div class="input_append">
      <button class="button button--icon button--cta"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
{% endmacro %}
