{% macro default() %}
  <button class="button button--icon" type="submit">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>

{% endmacro %}

{% macro cta() %}
  <button class="button button--cta" type="button">
    Abspielen
  </button>

{% endmacro %}
