{% macro default() %}
  <button class="button button--icon">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>

{% endmacro %}

{% macro cta() %}
  <button class="button button--cta">
    Abspielen
  </button>

{% endmacro %}
