:root
{
  --backgroundColor: #2a2a2a;
}

html,
body
{
  display: flex;
  overflow: hidden;

  height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--backgroundColor);

  justify-content: center;
  align-items: center;
  color: #ffffff;
}

img
{
  width: 646px;
  height: 180px;
  margin-bottom: 20px;

  transform: scale(.25);

  flex: none;
}

button {
  display: block;
}
