@import url("../components/navigation/navigation.css");
@import url("../components/separator/separator.css");
@import url("../components/brand/brand.css");
@import url("../components/stage/stage.css");

:root {
  --backgroundColor: #2a2a2a;
}

html,
body {

  height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--backgroundColor);

  color: #ffffff;
}

