{% extends "../list.twig" %}
{% import '../../components/tabbar/tabbar.twig' as tabbar %}
{% import '../../components/content/content.twig' as content %}
{% import '../../components/comment/comment.twig' as comment %}

{% block content %}

  {{ parent() }}

  <section class="section">
    <div class="section__content">
      {{ tabbar.default(aside) }}
    </div>
  </section>

{% endblock %}
