{% extends "../default.twig" %}
{% import '../../components/stage/stage.twig' as stage %}
{% import '../../components/overview/overview.twig' as overview %}
{% import '../../components/button/button.twig' as button %}
{% import '../../components/headline/headline.twig' as headline %}
{% import '../../components/tabbar/tabbar.twig' as tabbar %}

{% block content %}

  {{ stage.default() }}

  {{ tabbar.default() }}

{% endblock %}

{% block aside %}



  <section class="section">
    <div class="section__content">
      {{ headline.archive() }}
    </div>
  </section>
  {{ overview.default() }}


{% endblock %}


