{% extends "../single.twig" %}
{% import '../../components/tabbar/tabbar.twig' as tabbar %}

{% block content %}

  {{ stage.default() }}
  <section class="section">
    <div class="section__content">
      {{ tabbar.default() }}
    </div>
  </section>

{% endblock %}


