@media screen {

  .card {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 220px;
    height: 320px;
    padding: 10px;
    border-radius: 5px;
    color: var(--grayDark);
    text-align: left;
  }

  .card--media {
    background-color: var(--grayHighlight);
    color: var(--grayDefault);
  }

  .card:focus,
  .card:hover {
    color: var(--grayDefault);
    outline-color: var(--brandPrimary);
    outline-style: auto;
    outline-width: 5px;
  }

  .card:focus {
    outline-color: var(--brandSecondaryLight);
  }

  .card__thumb {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }

  .card__title {
    color: var(--grayDark);
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .card--media .card__title {
    color: var(--grayLight);
  }

  .card__excerpt {
    font-size: 1.5rem;
    line-height: 1.6;
    display: block;
    width: 100%;
    height: 75px;
    white-space: normal;
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card__action {
    display: flex;
    justify-content: space-between;
  }

}

