:root {

  --brandPrimary: #f39d00;
  --brandPrimaryDark: #a66c00;
  --brandPrimaryLight: #ffae19;
  --brandSecondaryDark: #004ba6;
  --brandSecondaryLight: #006df3;

  --grayDefault: #666666;
  --grayLight: #999999;
  --grayDark: #1d1d1d;
  --grayContainer: #eaeaea;
  --grayHighlight: #363636;

  --lightDefault: #ffffff;

  --shadow: 5px 5px 10px rgba(0,0,0,0.3);

}
