{% macro default(item) %}
  {% import '../icon/icon.twig' as icon %}
  <a class="link {{ item.classes | join(' ') }} " href="{{ item.get_link|e }}">
    {% if item.icon %}{{ icons.default(item.icon) }}{% endif %}
    {{ item.title|e }}
  </a>
{% endmacro %}
