<!doctype html>
<html class="no-js" lang="de">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %} | Floid </title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/style.css">
  {% endblock %}
</head>
<body>

<header>
  {% block header %}
    {% include '../components/brand/brand.twig' %}
    {% include '../components/navigation/navigation.twig' %}
  {% endblock %}
</header>
{% include '../components/separator/separator.twig' %}

<main>
  {% block main %}
  {% endblock %}
</main>

<footer>
  {% block footer %}
    <small>&copy; Copyright 2016.</small>
  {% endblock %}
</footer>

<script src="/main.js"></script>
</body>
</html>
