{% import '../components/masthead/masthead.twig' as masthead %}
{% import '../components/footer/footer.twig' as footer %}
<!doctype html>
<html class="no-js" lang="de">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %} | Floid </title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="/style.css">
  {% endblock %}
</head>
<body class="page">
<header class="page__header">


  {% block header %}
    {{ masthead.default(links) }}
  {% endblock %}

</header>
<hr class="page__separator">

<main class="page__body">

  {% block main %}

    <!-- Main -->

  {% endblock %}

</main>

<hr class="page__separator">
<footer class="page__footer">

  {% block footer %}
    {{ footer.default() }}
  {% endblock %}

</footer>

<script src="/main.js"></script>
</body>
</html>
